<footer data-block="footer">
  <div class="footer">
    <div>This is a demo project. Credits:</div>
    <ul class="list-inline">
      <li>
        <a href="http://www.django-rest-framework.org/" target="_blank">Django REST framework</a>
        <a href="http://angularjs.org/" target="_blank">AngularJS</a>
        <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
        <a href="http://bootswatch.com/" target="_blank">Bootswatch</a>
        <a href="https://github.com/wmluke/angular-blocks" target="_blank">angular-blocks</a>
        <a href="http://yeoman.io/" target="_blank">Yeoman</a>
        <a href="http://gruntjs.com/" target="_blank">Grunt</a>
        <a href="http://bower.io/search/" target="_blank">Bower</a>
      </li>
    </ul>
  </div>
</footer>
